html {
  background-color: #282c34;
  color: white;
}

.App {
  max-width: 1080px;
  margin: 2rem auto;
}

.row {
  display: flex;
  justify-content: center;
}

.card {
  margin: 5px;
  width: 90px;
  height: 110px;
  border-radius: 16px;
}

.card_inner {
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card_inner.is-flipped {
  transform: rotateY(180deg);
}

.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.card_front {
  background-image: linear-gradient(to bottom right, red, blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_back {
  display: flex;
  transform: rotateY(180deg);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
}

.reset_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0276ff;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin-top: 2rem;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006ae8;
}

.button-22:hover {
  background-color: #1c84ff;
}
