html {
  background-color: #282c34;
  color: white;
}

.App {
  max-width: 1080px;
  margin: 2rem auto;
}

.row {
  display: flex;
}

.card {
  background-color: white;
  width: 16%;
  margin: 2%;
  color: black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
